server:
  port: 8080

spring:
  application:
    name: cryptopedia-api

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    kr.cryptopedia: DEBUG