server:
  port: 7070

spring:
  application:
    name: cryptopedia-batch

  datasource:
    url: jdbc:mysql://localhost:3306/cryptopedia?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&rewriteBatchedStatements=true
    username: root
    password: password
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
        jdbc:
          batch_size: 100
        order_inserts: true
        order_updates: true

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: always

logging:
  level:
    kr.cryptopedia: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

binance:
  futures:
    base-url: https://fapi.binance.com

jwt:
  secret: c2VjdXJlLWFuZC1sb25nLXN1cGVyLXNlY3JldC1rZXktMTIzNDU2Nzg5
  access-token-validity-in-seconds: 1800
  refresh-token-validity-in-seconds: 1209600

slack:
  webhook:
    url: https://hooks.slack.com/services/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