server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://mysql.db.svc.cluster.local:3306/cryptopedia?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    username: root
    password: SuperSecretRootPassword123!
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5
      connection-timeout: 30000
      idle-timeout: 600000
      max-lifetime: 1800000
  
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false

logging:
  level:
    root: INFO
    kr.cryptopedia: INFO
    org.hibernate.SQL: WARN
    org.hibernate.type.descriptor.sql.BasicBinder: WARN

binance:
  futures:
    base-url: https://fapi.binance.com


jwt:
  secret: c2VjdXJlLWFuZC1sb25nLXN1cGVyLXNlY3JldC1rZXktMTIzNDU2Nzg5
  access-token-validity-in-seconds: 1800
  refresh-token-validity-in-seconds: 1209600